[Unit]
Description=Centec modules init
After=local-fs.target
Before=syncd.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-e550-24t16y start
ExecStop=-/etc/init.d/platform-modules-e550-24t16y stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
