[Unit]
Description=Centec platform configure
After=local-fs.target database.service
Before=syncd.service swss.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/centec-platform-conf start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
