Source: centec-platform-conf
Section: main
Priority: extra
Maintainer: taocy <taocy@centecnetworks.com>
Build-Depends: debhelper (>= 8.0.0), bzip2
Standards-Version: 1.0.0

Package: centec-platform-conf
Architecture: arm64
Description: sonic platform conf for Centec, such as router MAC.

